<div class="row card" [formGroup]="toDoGroup">
    <h2 class="card-title">To-Do</h2>
    <div class="input-group flex-nowrap card-body">
        <input type="text" class="form-control col-md-10 col-sm-10 col-xs-10" placeholder="New To-Do" [formControl]="toDoGroup.controls['toDoItem']" (keydown.enter)="addNewItem()" />
        <button type="button" class="btn btn-primary col-md-2 col-sm-2 col-xs-2" (click)="addNewItem()"><i class="fa fa-plus-circle"></i> Add</button>
    </div>

    <div *ngIf="allTaskDone" class="alert alert-primary text-center" role="alert">All task are done <i class="far fa-smile"></i></div>

    <div class="card-body" *ngIf="!allTaskDone">
        <ul class="list-group list-group-flush">
            <div class="input-group" *ngFor="let item of notCompletedElements(toDoGroup.controls.items['controls']); let i = index">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" [checked]="item.value.checked" (click)="itemDone(item.value)" />
                    </div>
                </div>
                <li class="list-group-item form-control" [ngClass]="{ checked: item.value.checked }">{{ item.value.text }}</li>
                <button type="button" class="btn btn-danger" (click)="removeItem(item)"><i class="fa fa-trash"></i></button>
            </div>
        </ul>
    </div>
</div>
<br />
<div class="row card" [formGroup]="toDoGroup" *ngIf="anyCompletedItem()">
    <h2 class="card-title">Completed</h2>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <div class="input-group" *ngFor="let item of completedElements(toDoGroup.controls.items['controls']); let i = index">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" [checked]="item.value.checked" (click)="itemDone(item.value)" />
                    </div>
                </div>
                <li class="list-group-item form-control" [ngClass]="{ checked: item.value.checked }">{{ item.value.text }}</li>
                <button type="button" class="btn btn-danger" (click)="removeItem(item)"><i class="fa fa-trash"></i></button>
            </div>
        </ul>
    </div>
</div>